{% extends "homePage/homeBasis.html" %}
{% load static %}

{% block body %}
    <link rel="stylesheet" href="{% static 'homePage/css/home.css' %}" type="text/css">
    
    <style>
        @font-face {
            font-family: 'RobotoMed';
            src: url("{% static 'fonts/Roboto-MediumItalic.ttf' %}") format('truetype');
        }
    </style>

    <div class="image">
        <img src="{% static 'homePage/images/home.png' %}">
    </div>

    <div class="textWrapper">
        <div class="name">
            Joshua Tumlinson
        </div>
        <div class="job">
            Software Developer
        </div>
    </div>

{% endblock %}