{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'applicationTracker/css/main.css' %}" type="text/css">
    <link rel="icon" href="{% static 'homePage/images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<!DOCTYPE html>
<html>
    <header class="header">
        <div class="header" style="background-image: url('{% static "applicationTracker/images/corvallis.jpg" %}');"/>
        <div class="overlay"></div>
        <div class="headerContent">
            <h1>{% block pageTitle %}Application Tracker{% endblock %}</h1>
            <div class="userLinks">
                {% if request.resolver_match.url_name not in "login" and request.resolver_match.url_name not in "createAccount" %}
                    {% if user.is_authenticated %}
                        <p>Welcome, {{ user.username }}!</p>
                        <a href="{% url 'logout' %}" class="loginOut">Logout</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </header>

    {% block body %}
    

    {% endblock%}


    <footer class="footer">
        <div class="footerText">
            Joshua Tumlinson, Sep. 2025
        </div>
    </footer>
</html>