@font-face {
    font-family: 'Roboto';
    src: url("{% static 'fonts/Roboto-Regular.ttf' %}") format('truetype');
}

@font-face {
    font-family: "RobotoLightItialic";
    src: url("{% static 'fonts/Roboto-LightItalic.ttf' %}");
}

@font-face {
    font-family: "RobotoBold";
    src: url("{% static 'fonts/Roboto-Bold.ttf' %}");
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: visible;
}

.text {
    width: 50%;
    color: white;
}


.title {
    font-family: "RobotoLightItialic";
    font-size: 10rem;
    color: white;
    margin-left: 10%;
}

.summary {
    margin-left: 10%;
    font-size: 2rem;
    font-family: "RobotoBold";
}

.textOne,
.textTwo {
    margin-left: 10%;
    font-family: "Roboto";
}

.image {
    margin: 0;
    width: 50%;
    height: 100%;
    background-image: url("../images/about.jpg");
    background-size: cover;
    background-position: center 25%;
}
